@import './animations.css';

html {
    font-size: 86%;
}

.hover-pill:hover {
    color: #007bff;
}

.panel {
    border: 1px solid #ccc;
    padding: 0 15px;
    border-radius: .25rem;
}

.App {
    display: grid;
    height: 100vh;
    grid-template-columns: 25% 75%;
    grid-template-rows: 60px auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.App-header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.App-sidebar {
    grid-row-start: 2;
    grid-row-end: 3;
}

.App-view {
    grid-row-start: 2;
    grid-row-end: 3;
}

.App-objtype {
    color: #007bff;
    font-weight: 700;
    font-size: .7em;
    margin: 0;
    text-transform: uppercase;
}

.App-link {
    color: #007bff;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}

.App-link:hover {
    text-decoration: underline;
}

.App-text-excerpt {
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
/*
    overflow: hidden;
    position: relative;
    line-height: 1.5; /* use this value to count block height
    max-height: 4.5rem; /* max-height = line-height (1.2) * lines max number (5)
    text-align: justify; /* fix problem when last visible word doesn't adjoin right side
    margin-right: 0; /* place for '...'
    padding-right: .7em;
    */
}
/*
.App-text-excerpt:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.App-text-excerpt:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
 */

/* Custom styling for the "chapeau" text */
.lead {
  font-weight: 700 !important; /* Bold, !important to override Bootstrap if necessary */
}
