@import './animations.css';

html {
    font-size: 86%;
}

.hover-pill:hover {
    color: #007bff;
}

.panel {
    border: 1px solid #ced4da;
    padding: 0 15px;
    border-radius: .25rem;
}

.App {
    display: grid;
    height: 100vh;
    grid-template-columns: 400px auto;
    grid-template-rows: 60px auto;
    overflow: hidden;
}

.App-header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.App-sidebar {
    grid-row-start: 2;
    grid-row-end: 3;
}

.App-view {
    grid-row-start: 2;
    grid-row-end: 3;
}

.App-objtype {
    color: #007bff;
    font-weight: 700;
    font-size: .7em;
    margin: 0;
    text-transform: uppercase;
}

.App-link {
    color: #007bff;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}

.App-link:hover {
    text-decoration: underline;
}