.ExpressionExplorer {
    height: calc(100vh - 120px);
    position: relative;
 }

.ExpressionExplorer-list {
    height: calc(100vh - 128px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.ExpressionExplorer-list table {
    display: flex;
    flex-flow: column;
    height: calc(100% - 50px);
    width: 100%;
}

.ExpressionExplorer-list table thead {
    flex: 0 0 auto;
    width: calc(100% - 17px);
}

.ExpressionExplorer-list table thead th span {
    cursor: pointer;
}

.ExpressionExplorer-list table thead th {
    border-bottom: 1px solid #aaa;
}

.ExpressionExplorer-list table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.ExpressionExplorer-list table tbody tr {
    width: 100%;
}

.ExpressionExplorer-list table thead,
.ExpressionExplorer-list table tbody tr {
    display: table;
    table-layout: fixed;
}

.ExpressionExplorer-list table tbody tr:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.ExpressionExplorer-list table tbody td {
    border-bottom: 1px solid #aaa;
}

.ExpressionExplorer-details {
    background: #fff;
    display: none;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.ExpressionExplorer-highlit, .ExpressionExplorer-highlit-backdrop, .ExpressionExplorer-readable {
    width: 100%;
    height: 50vh!important;
}

.ExpressionExplorer-readable {
    overflow-y: scroll;
}

.ExpressionExplorer-gallery {
    height: 30vh!important;
}

.ExpressionExplorer-highlit {
    position: relative;
}

.ExpressionExplorer-highlit textarea {
    background-color: transparent;
    color: #444;
    margin: 0;
    position: absolute;
    z-index: 2;
}

.ExpressionExplorer-highlit mark {
    color: transparent;
    background-color: #007bff;
    opacity: .35;
}

.ExpressionExplorer-highlit-backdrop {
    border: 1px solid transparent;
    height: auto;
    overflow: auto;
    padding: .375rem .75rem;
    position: absolute;
    z-index: 1;
}

.ExpressionExplorer-highlights {
    color: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;
}

