.sticky-content-tagging {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; /* Adjust as needed, e.g., to account for a fixed navbar */
    max-height: calc(100vh - 20px); /* Adjust 20px based on other elements or desired spacing */
    overflow-y: auto;
    padding: 10px; /* Optional: for some spacing */
    background-color: white; /* Optional: to prevent content behind from showing through */
    z-index: 10; /* Optional: to ensure it stays on top */
}

/* Styles spécifiques pour le texte principal markdown */
.markdown-editor-content p {
    font-size: 1.15em;
    line-height: 1.7;
    margin-bottom: 1em;
}

.markdown-editor-content h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
}

.markdown-editor-content h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.markdown-editor-content ul,
.markdown-editor-content ol {
    margin-left: 2em;
    margin-bottom: 1em;
}
