.taggedContentExplorer {
    background: #fff;
    bottom: 0;
    height: calc(100vh - 100px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.taggedContent {
    background: #fff;
    height: inherit;
}

.taggedContentExplorer .taggedContent .panel {
    height: calc(100vh - 220px);
    overflow-y: scroll;
}

.taggedContent ul {
    list-style: none;
    margin: .5rem 0;
    padding: 0;
}

.taggedContent ul ul {
    margin: 0;
    border: 0;
}

.taggedContent li {
    padding: .5rem 0;
    border-bottom: 1px solid #edf1f8;
}

.taggedContent li li {
    border-bottom: 1px solid #edf1f8;
}

.taggedContent li:last-child, .taggedContent li li:last-child {
    border: 0;
}

.taggedContent .tagLabel {
    color: #007bff;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.taggedContent i {
    cursor: pointer;
}

.TagExplorer-tagTree {
    height: 400px;
}

.TagExplorer-nodeControl {
    background: none;
    border: 0;
    color: #007bff;
    cursor: pointer;
    outline: 0!important;
    margin-left: .25rem;
    padding: 0;
}

.TagExplorer-nodeControl:hover {
    color: #0056b3;
}

.rst__lineHalfHorizontalRight::before, .rst__lineFullVertical::after, .rst__lineHalfVerticalTop::after, .rst__lineHalfVerticalBottom::after {
    background-color: #ced4da!important;
}

.rst__lineHalfHorizontalRight::before, .rst__lineFullVertical::after, .rst__lineHalfVerticalTop::after, .rst__lineHalfVerticalBottom::after {
    position: absolute;
    content: '';
    background-color: #ced4da!important;
}

.rst__placeholder {
    max-width: 100%!important;
}